.container {
  margin: 0.5rem 1.2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;

  svg {
    margin-right: 0.5rem;
  }
}
